@using Microsoft.AspNetCore.Identity
@inject SignInManager<BTUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Insect Crusher</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">

    <!-------------------------------------------- Gogi stylesheets start ------------------------------------------------->
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/media/image/favicon.png" />

    <!-- Main css -->
    <link rel="stylesheet" href="~/vendors/bundle.css" type="text/css">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Daterangepicker -->
    <link rel="stylesheet" href="~/vendors/datepicker/daterangepicker.css" type="text/css">

    <!-- DataTable -->
    <link rel="stylesheet" href="~/vendors/dataTable/datatables.min.css" type="text/css">

    <!-- App css -->
    <link rel="stylesheet" href="~/assets/css/app.min.css" type="text/css">
    <!-------------------------------------------- Gogi stylesheets end --------------------------------------------------->

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/site.css" />
</head>

@{
    string? controller = (string?)Context.GetRouteValue("controller");
    string? action = (string?)Context.GetRouteValue("action");
}

<body>

    @*@if (SignInManager.IsSignedIn(User))
    {*@
        <!-- Layout wrapper -->
        <div class="layout-wrapper">

            <!-- Header -->
            <div class="header d-print-none">
                <div class="header-container">
                    <div class="header-left">
                        <div class="navigation-toggler">
                            <a href="#" data-action="navigation-toggler">
                                <i data-feather="menu"></i>
                            </a>
                        </div>

                        <div class="header-logo">
                            <a asp-action="Index" asp-controller="Home">
                                <img class="logo" src="~/img/MBDLogoOnly_500_edited.png" class="img-fluid" style="max-height: 50px;" alt="logo">
                            </a>
                        </div>
                    </div>

                    <div class="header-body">
                        <div class="header-body-left">
                            <ul class="navbar-nav">
                                <li class="nav-item mr-3">
                                    <div class="header-search-form">
                                        <form>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="btn">
                                                        <i data-feather="search"></i>
                                                    </button>
                                                </div>
                                                <input type="text" class="form-control" placeholder="Search">
                                                <div class="input-group-append">
                                                    <button class="btn header-search-close-btn">
                                                        <i data-feather="x"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="header-body-right">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="#" class="nav-link mobile-header-search-btn" title="Search">
                                        <i data-feather="search"></i>
                                    </a>
                                </li>

                                <li class="nav-item dropdown d-none d-md-block">
                                    <a href="#" class="nav-link" title="Fullscreen" data-toggle="fullscreen">
                                        <i class="maximize" data-feather="maximize"></i>
                                        <i class="minimize" data-feather="minimize"></i>
                                    </a>
                                </li>

                                <partial name="_LoginPartial" />
                            </ul>
                        </div>
                    </div>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item header-toggler">
                            <a href="#" class="nav-link">
                                <i data-feather="arrow-down"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- ./ Header -->

            <!-- Content wrapper -->
            <div class="content-wrapper">
                <!-- begin::navigation -->
                <div class="navigation">
                    <div class="navigation-header">
                        <span>Navigation</span>
                        <a href="#">
                            <i class="ti-close"></i>
                        </a>
                    </div>
                    <div class="navigation-menu-body">
                        <!-- Dashboard -->
                        <ul>
                            <li>
                                <a class="@(controller == "Home" ? "active" : "")"  asp-action="Index" asp-controller="Home">
                                    <span class="nav-link-icon">
                                        <i data-feather="bar-chart"></i>
                                    </span>
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            <!-- Company -->
                            <li>
                            <a href="#">
                                    <span class="nav-link-icon">
                                        <i class="bi bi-building"></i>
                                    </span>
                                    <span>Company</span>
                                </a>
                                @if (User.IsInRole("Admin"))
                                {
                                    <ul>
                                        <li><a asp-area="" asp-controller="Companies" asp-action="ManageUserRoles"
                                                class="@(controller == "Companies" && action == "ManageUserRoles" ? "active" : "")">Manage Roles</a></li>
                                        <li><a asp-area="" asp-controller="Invites" asp-action="Create"
                                                class="@(controller == "Invites" && action == "Create" ? "active" : "")">Company Invite</a></li>
                                    </ul>
                                }
                            </li>
                            <!-- Projects -->
                            <li>
                                <a href="#">
                                    <span class="nav-link-icon">
                                        <i class="bi bi-file-ppt"></i>
                                    </span>
                                    <span>Projects</span>
                                </a>
                                <ul>
                                    <li>
                                        <a asp-area="" asp-controller="Projects" asp-action="Create"
                                            class="@(controller == "Projects" && action == "Create" ? "active" : "")">Create a Project</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Projects" asp-action="AllProjects"
                                            class="@(controller == "Projects" && action == "AllProjects" ? "active" : "")">All Projects</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Projects" asp-action="MyProjects"
                                            class="@(controller == "Projects" && action == "MyProjects" ? "active" : "")">My Projects</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Projects" asp-action="ArchivedProjects"
                                            class="@(controller == "Projects" && action == "ArchivedProjects" ? "active" : "")">Archived Projects</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- Tickets -->
                            <li>
                                <a href="#">
                                    <span class="nav-link-icon">
                                        <i class="bi bi-ticket"></i>
                                    </span>
                                    <span>Tickets</span>
                                </a>
                                <ul>
                                    <li>
                                        <a asp-area="" asp-controller="Tickets" asp-action="Create"
                                            class="@(controller == "Tickets" && action == "Create" ? "active" : "")">Create a Ticket</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Tickets" asp-action="AllTickets"
                                            class="@(controller == "Tickets" && action == "AllTickets" ? "active" : "")">All Tickets</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Tickets" asp-action="UnassignedTickets"
                                            class="@(controller == "Tickets" && action == "UnassignedTickets" ? "active" : "")">Unassigned Tickets</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Tickets" asp-action="MyTickets"
                                            class="@(controller == "Tickets" && action == "MyTickets" ? "active" : "")">My Tickets</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="Tickets" asp-action="ArchivedTickets"
                                            class="@(controller == "Tickets" && action == "ArchivedTickets" ? "active" : "")">Archived Tickets</a>
                                    </li>
                                    <li>
                                        <a asp-area="" asp-controller="TicketComments" asp-action="Index"
                                            class="@(controller == "TicketComments" && action == "Index" ? "active" : "")">Ticket Comments</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- Notifications -->
                            <li>
                                <a class="@(controller == "Notifications" ? "active" : "")" asp-area="" asp-controller="Notifications" asp-action="Index">
                                    <span class="nav-link-icon">
                                        <i data-feather="bell"></i>
                                    </span>
                                    <span>Notifications</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- end::navigation -->

                <!-- Content body -->
                <div class="content-body">
                    <!-- Content -->
                    <div class="content ">

                        @RenderBody()

                    </div>
                    <!-- ./ Content -->

                    <!-- Footer -->
                    <footer class="content-footer">
                        <div>All Rights Reserved &copy; 2022 Tom Nguyen</div>
                        <div>
                            <a href="https://www.linkedin.com/in/txn9517"><i class="bi bi-linkedin px-2 socialIcons"></i></a>
                            <a href="https://github.com/tn2690/"><i class="bi bi-github socialIcons"></i></a>
                        </div>
                    </footer>
                    <!-- ./ Footer -->
                </div>
                <!-- ./ Content body -->
            </div>
            <!-- ./ Content wrapper -->
        </div

    <!--------------------- Gogi scripts start ------------------------------->
    <!-- Main scripts -->
    <script src="../../vendors/bundle.js"></script>

    <!-- Apex chart -->
    <script src="../../vendors/charts/apex/apexcharts.min.js"></script>

    <!-- Daterangepicker -->
    <script src="../../vendors/datepicker/daterangepicker.js"></script>

    <!-- DataTable -->
    <script src="../../vendors/dataTable/datatables.min.js"></script>

    <!-- Dashboard scripts -->
    <script src="../../assets/js/examples/pages/dashboard.js"></script>

    <!-- App scripts -->
    <script src="../../assets/js/app.min.js"></script>

    <!-- Javascript -->
    <script src="~/vendors/ckeditor5/ckeditor.js"></script>

    <!--------------------- Gogi scripts end ------------------------------->

    <!-- Sweet Alerts -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
