@using Microsoft.AspNetCore.Identity
@using BugTrackerMVC.Extensions
@using BugTrackerMVC.Models.Enums
@inject SignInManager<BTUser> SignInManager

@{
    string? controller = (string?)Context.GetRouteValue("controller");
    string? action = (string?)Context.GetRouteValue("action");
}


<!-- Sidebar Partial View -->
<!-- begin::navigation -->
<div class="navigation">
    <div class="navigation-header">
        <span>Navigation</span>
        <a href="#">
            <i class="ti-close"></i>
        </a>
    </div>
    <div class="navigation-menu-body">
        <!-- Dashboard -->
        <ul>
            <li>
                <a class="@(controller == "Home" ? "active" : "")" asp-action="Index" asp-controller="Home">
                    <span class="nav-link-icon">
                        <i data-feather="bar-chart"></i>
                    </span>
                    <span>Dashboard</span>
                </a>
            </li>
            <!-- Company -->
            <li>
                <a href="#">
                    <span class="nav-link-icon">
                        <i class="bi bi-building"></i>
                    </span>
                    <span>Company</span>
                </a>

                <ul>
                    @if (User.IsInRole("Admin"))
                    {
                        <li>
                            <a asp-area="" asp-controller="Companies" asp-action="Details" asp-route-id="@User.Identity!.GetCompanyId()"
                           class="@(controller == "Companies" && action == "Details" ? "active" : "")">Company Info</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Companies" asp-action="ManageUserRoles"
                           class="@(controller == "Companies" && action == "ManageUserRoles" ? "active" : "")">Manage Roles</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Invites" asp-action="Create"
                           class="@(controller == "Invites" && action == "Create" ? "active" : "")">Company Invite</a>
                        </li>
                    }
                </ul>

            </li>
            <!-- Projects -->
            <li>
                <a href="#">
                    <span class="nav-link-icon">
                        <i class="bi bi-file-ppt"></i>
                    </span>
                    <span>Projects</span>
                </a>
                <ul>
                    @if (User.IsInRole(nameof(BTRoles.Admin)) || User.IsInRole(nameof(BTRoles.ProjectManager)))
                    {
                        <li>
                            <a asp-area="" asp-controller="Projects" asp-action="Create"
                           class="@(controller == "Projects" && action == "Create" ? "active" : "")">Create a Project</a>
                        </li>
                    }
                    <li>
                        <a asp-area="" asp-controller="Projects" asp-action="AllProjects"
                           class="@(controller == "Projects" && action == "AllProjects" ? "active" : "")">All Projects</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Projects" asp-action="MyProjects"
                           class="@(controller == "Projects" && action == "MyProjects" ? "active" : "")">My Projects</a>
                    </li>
                    @if (User.IsInRole(nameof(BTRoles.Admin)) || User.IsInRole(nameof(BTRoles.ProjectManager)))
                    {
                        <li>
                            <a asp-area="" asp-controller="Projects" asp-action="ArchivedProjects"
                           class="@(controller == "Projects" && action == "ArchivedProjects" ? "active" : "")">Archived Projects</a>
                        </li>
                    }
                </ul>
            </li>
            <!-- Tickets -->
            <li>
                <a href="#">
                    <span class="nav-link-icon">
                        <i class="bi bi-ticket"></i>
                    </span>
                    <span>Tickets</span>
                </a>
                <ul>
                    <li>
                        <a asp-area="" asp-controller="Tickets" asp-action="Create"
                           class="@(controller == "Tickets" && action == "Create" ? "active" : "")">Create a Ticket</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Tickets" asp-action="AllTickets"
                           class="@(controller == "Tickets" && action == "AllTickets" ? "active" : "")">All Tickets</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Tickets" asp-action="UnassignedTickets"
                           class="@(controller == "Tickets" && action == "UnassignedTickets" ? "active" : "")">Unassigned Tickets</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Tickets" asp-action="MyTickets"
                           class="@(controller == "Tickets" && action == "MyTickets" ? "active" : "")">My Tickets</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Tickets" asp-action="ArchivedTickets"
                           class="@(controller == "Tickets" && action == "ArchivedTickets" ? "active" : "")">Archived Tickets</a>
                    </li>
                </ul>
            </li>
            <!-- Notifications -->
            <li>
                <a class="@(controller == "Notifications" ? "active" : "")" asp-area="" asp-controller="Notifications" asp-action="Index">
                    <span class="nav-link-icon">
                        <i data-feather="bell"></i>
                    </span>
                    <span>Notifications</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- end::navigation -->