@model BugTrackerMVC.Models.Company
@using BugTrackerMVC.Services.Interfaces
@using BugTrackerMVC.Models.Enums
@using BugTrackerMVC.Extensions
@using Microsoft.AspNetCore.Identity
@inject IBTFileService _BTFileService
@inject IBTProjectService _BTProjectService
@inject IBTTicketService _BTTicketService

@{
    ViewData["Title"] = "Company Info";
    List<Project> projects = (await _BTProjectService.GetAllProjectsByCompanyIdAsync(User.Identity!.GetCompanyId())).ToList();
    List<Ticket> tickets = (await _BTTicketService.GetAllTicketsByCompanyIdAsync(User.Identity!.GetCompanyId())).ToList();
}

<div class="page-header">
    <div>
        <h3>Company Info</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-action="Dashboard" asp-controller="Home">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a>Company</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Company Info</li>
            </ol>
        </nav>
    </div>
</div>

<div class="card">
    <div class="card-body">

        <div class="card shadow-none border">
            <div class="row">
                <div class="col-12 col-lg-6">
                    <img src="@_BTFileService.ConvertByteArrayToFile(Model.ImageFileData!, Model.ImageFileType!, (int)DefaultImg.CompanyImg)" class="img-fluid" alt="company picture">
                </div>
                <div class="col-12 col-lg-6">
                    <div class="card-body">
                        <h5 class="card-title"><span class="companyTitle">@Model.Name</span></h5>
                        <p class="card-text">
                            <span class="textItalics">@Model.Description</span>
                        </p>
                        <p class="card-text">
                            Members: <span class="textBold">@Model.Members.Count()</span>
                        </p>
                        <p class="card-text">
                            Total Projects: <span class="textBold">@projects.Count()</span>
                        </p>
                        <p class="card-text">
                            Total Tickets: <span class="textBold">@tickets.Count()</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>