@model BugTrackerMVC.Models.Project
@using BugTrackerMVC.Services.Interfaces
@using BugTrackerMVC.Models.Enums
@using Microsoft.AspNetCore.Identity
@inject IBTFileService _BTFileService
@inject IBTProjectService _BTProjectService
@inject UserManager<BTUser> _UserManager

@{
    ViewData["Title"] = "Archive Project";
    BTUser? projectManager = await _BTProjectService.GetProjectManagerAsync(Model.Id);
    string btUser = _UserManager.GetUserId(User);
}

<!-- Archive Project -->

<div class="page-header">
    <div>
        <h3>Archive Project</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-action="AllProjects">Projects</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-action="Details" asp-route-id="@Model.Id">Project Details</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Archive Project<li>
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-8 offset-md-2">
        <h2>Are you sure?</h2>
        <p class="text-lead text-muted">This project will be archived. It will be moved to Archived Projects.</p>
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4 square-img-container">
                    <img src="@_BTFileService.ConvertByteArrayToFile(@Model.ImageFileData!, @Model.ImageFileType!, (int)DefaultImg.ProjectImg)" class="square-img rounded-start" style="max-width: 100%;" alt="blog post pictures">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Name</h5>
                        <div class="card-text">
                            <span class="fw-bold me-2">Date Created:</span>@Model.Created.ToString("MMM dd, yyyy")
                        </div>
                        <br />
                        <div class="card-text">
                            <span class="fw-bold me-2">Start Date:</span>@Model.StartDate!.Value.ToString("MMM dd, yyyy")
                        </div>
                        <br />
                        <div class="card-text">
                            <span class="fw-bold me-2">Deadline:</span>@Model.EndDate!.Value.ToString("MMM dd, yyyy")
                        </div>
                        <br />
                        <div class="card-text">
                            <span class="fw-bold me-2">Project Managers:</span>@(projectManager?.FullName ?? "Unassigned")
                        </div>
                        <br />
                        <div class="card-text">
                            <span class="fw-bold me-2">Members:</span>@foreach (BTUser member in Model.Members)
                            {
                                @member.FullName
                                <text><small><i> [@string.Join(",", await _UserManager.GetRolesAsync(member))] <br> </i></small></text>
                            }
                        </div>
                        <br />
                        <div class="card-text">
                            <span class="fw-bold me-2">Number of Tickets:</span>@Model.Tickets.Count()
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form class="d-flex justify-content-between" asp-action="Archive" asp-route-id="@Model.Id">
            <input hidden asp-for="Id" />
            <a asp-action="Details" asp-route-id="@Model.Id" class="btn btn-outline-primary rounded-pill">Back to Project Details</a>
            <button type="submit" class="btn btn-outline-danger rounded-pill btnLink">Archive</button>
        </form>
    </div>
</div>
