@model BugTrackerMVC.Models.Project
@using BugTrackerMVC.Services.Interfaces
@using BugTrackerMVC.Models.Enums
@using Microsoft.AspNetCore.Identity
@inject IBTFileService _BTFileService
@inject IBTProjectService _BTProjectService
@inject UserManager<BTUser> _UserManager
@inject IBTRolesService _BTRolesService
@inject IBTTicketHistoryService _BTTicketHistoryService

@{
    ViewData["Title"] = "Project Details";

    BTUser? projectManager = await _BTProjectService.GetProjectManagerAsync(Model.Id);
    string btUser = _UserManager.GetUserId(User);
    BTUser user = await _UserManager.GetUserAsync(User);

}

<!-- Project Details -->

<div class="page-header">
    <div>
        <h3>Project Details</h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a asp-action="AllProjects">Projects</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Project Details</li>
            </ol>
        </nav>
    </div>
</div>

<div>
    <div class="container-fluid">
        <div class="row gy-2">
            <div class="col-md-12 col-12">
                <div class="row col-cols-2 mt-5">

                    <div class="card col m-1 p-2">
                        <div class="body">
                            @* Project Name *@
                            <h3>Project: @Model.Name</h3>
                            @if (User.IsInRole(nameof(BTRoles.Admin)) || User.IsInRole(nameof(BTRoles.ProjectManager)))
                            {
                                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-primary rounded-pill mx-2 my-2">Edit This Project</a>

                                @if (User.IsInRole(nameof(BTRoles.Admin)))
                                {

                                    @if (Model.Archived == false)
                                    {
                                        <a asp-action="Archive" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-danger rounded-pill my-2">Archive This Project</a>
                                    }
                                    else
                                    {
                                        <a asp-action="Restore" asp-route-id="@Model.Id" class="btn btn-sm btn-outline-success rounded-pill my-2">Restore This Project</a>
                                    }
                                }
                            }
                            @* Project Description *@
                            <p>@Model.Description</p>
                            <div class="progress-container progress-info m-b-25">
                                <span class="progress-badge" style="font-size:small">Project Status</span>
                                <div class="progress">
                                    @* Razor code block *@
                                    @{
                                        var start = Model.StartDate!.Value;
                                        var end = Model.EndDate!.Value;
                                        var today = DateTime.Now;
                                        var percent = today >= end ? 100 : today < start ? 0 : Math.Round((today.Subtract(start)) / (end.Subtract(start)) * 100);
                                    }
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">
                                        @* Use Progress Bar code variable here *@
                                        <span class="progress-value">@percent%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card col m-1 p-2">
                        <div class="body">
                            <ul class=" list-unstyled basic-list">
                                <li>Start Date: <span class="">@Model.StartDate</span></li>
                                <li>Deadline: <span class="">@Model.EndDate</span></li>
                                <li>Priority: <span class="">@Model.ProjectPriority?.Name</span></li>
                                @* if() logic for project active/inactive *@
                                @if (Model.Archived == false && @percent < 100)
                                {
                                    <text>Project is Active</text>
                                }
                                else
                                {
                                    <text>Project is Inactive</text>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 mt-5 ">
                <div>
                    <div class="card m-1 p-2">
                        <div>
                            <h2>Project Manager</h2>
                            <hr />
                        </div>
                        <div class="body" style="overflow-y:auto;height:300px;">
                            @* if() logic for Avatar/Default etc *@
                            <img src="@_BTFileService.ConvertByteArrayToFile(projectManager?.ImageFileData!, projectManager?.ImageFileType!, (int)DefaultImg.BTUserImg)" style="max-height: 35px;"
                                 class="rounded-circle"
                                 alt="project manager image" />
                            @(projectManager?.FullName ?? "Unassigned")

                            @if (projectManager is null && (User.IsInRole(nameof(BTRoles.Admin)) || User.IsInRole(nameof(BTRoles.ProjectManager))))
                            {
                                <a class="btn btn-outline-info rounded-pill mx-2" asp-action="AssignProjectManager" asp-route-id="@Model.Id">Assign PM</a>
                            }
                            else
                            {
                                @if (User.IsInRole(nameof(BTRoles.Admin)) || User.IsInRole(nameof(BTRoles.ProjectManager)))
                                {
                                    <a class="btn btn-outline-secondary rounded-pill" asp-action="AssignProjectManager" asp-route-id="@Model.Id">Change PM</a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 mt-5 ">
                <div>
                    <div class="card m-1 p-2">
                        <div>
                            <h2>Project Team</h2>
                            <hr />
                        </div>
                        <div class="body" style="overflow-y:auto;height:300px;">
                            <ul class="right_chat list-unstyled mb-0">

                                @foreach (BTUser member in Model.Members)
                                {
                                    <li>
                                        @* Logic for avatars *@
                                        <img src="@_BTFileService.ConvertByteArrayToFile(member.ImageFileData!, user.ImageFileType!, (int)DefaultImg.BTUserImg)" style="max-height: 35px;"
                                         class="rounded-circle"
                                         alt="member image" />
                                        @member.FullName
                                        <text><small><i> [@string.Join(",", await _UserManager.GetRolesAsync(member))] </i></small></text>
                                    </li>
                                }

                                @if (User.IsInRole(nameof(BTRoles.Admin)) || User.IsInRole(nameof(BTRoles.ProjectManager)))
                                {
                                    <a asp-action="AddMembers" asp-route-id="@Model.Id" class="btn btn-outline-success rounded-pill">Add Member(s)</a>
                                    //<a asp-action="RemoveMembers" asp-route-id="@Model.Id" class="btn btn-outline-danger rounded-pill">Remove Member(s)</a>
                                }

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 mt-5 ">
                <div>
                    <div class="card m-1 p-2">
                        <div>
                            <h2>Project Activity</h2>
                            <hr />
                        </div>
                        <div class="body" style="overflow-y:auto;height:300px;background-color:antiquewhite">
                            @* Project Activity loop *@
                            @foreach (TicketHistory history in (await _BTTicketHistoryService.GetProjectTicketsHistoriesAsync(Model.Id, Model.CompanyId)).OrderByDescending(h => h.Created))
                            {
                                <div class="">
                                    <span class="date" style="font-weight:bold">@history.Created.ToString("dd MMM yyyy")</span>
                                    <h6>@history.Description</h6>
                                    <span>By: <a href="" title="@history.BTUser!.FullName">@history.BTUser.FullName</a></span>
                                    <div class="">
                                        @if (history.Description!.Contains("New Ticket Created"))
                                        {
                                            <p>A ticket was added.</p>
                                        }
                                        else if (history.PropertyName!.Equals("TicketComment") || history.PropertyName.Equals("TicketAttachment"))
                                        {
                                            <p>A <b>@history.PropertyName</b>  was added.</p>
                                        }
                                        else
                                        {
                                            <p>The ticket <b>@history.PropertyName</b>  was edited</p>
                                            <p>@($"Previous {history.PropertyName}:  ") <span style="color:red">@history.OldValue</span></p>
                                            <p>@($"Current {history.PropertyName}:  ") <span style="color:green">@history.NewValue</span></p>
                                        }
                                    </div>
                                </div>
                                <hr />
                            }
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-12 col-12">
                <div class="mt-5">
                    <div class="card m-1 p-2">
                        <div>
                            <h2>Tickets</h2>

                            <p>
                                <a asp-action="Create" asp-controller="Tickets" class="btn btn-outline-primary rounded-pill">Create New</a>
                            </p>
                        </div>
                        <div class="body">
                            <div class="table-responsive" style="overflow-y:auto;height:600px;">
                                <table class="table table-hover">
                                    <thead class="">
                                        <tr>
                                            @* Table header *@
                                            <th>Title</th>
                                            <th>Developer</th>
                                            <th>Status</th>
                                            <th>Priority</th>
                                            <th>Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @* Table body *@
                                        @foreach (var ticket in Model.Tickets.OrderByDescending(d => d.Created))
                                        {
                                            <tr>
                                                <td><a asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id" style="color:black"><strong>@ticket.Title</strong></a> </td>
                                                <td>
                                                    @if (ticket.DeveloperUserId != null)
                                                    {
                                                        <text>@(ticket.DeveloperUser?.FullName ?? "Unassigned")</text>
                                                    }
                                                    else
                                                    {
                                                        if (User.IsInRole(nameof(BTRoles.Admin)) || User.IsInRole(nameof(BTRoles.ProjectManager)))
                                                        {
                                                            <a class="btn btn-xs btn-outline-info rounded-pill" asp-action="AssignDeveloper" asp-controller="Tickets" asp-route-id="@ticket.Id">Assign Dev</a>
                                                        }

                                                    }
                                                </td>
                                                @if (ticket.TicketStatus!.Name == "New")
                                                {
                                                    <td><span class="">@ticket.TicketStatus.Name </span></td>

                                                }
                                                else
                                                {
                                                    <td><span class="">@ticket.TicketStatus.Name </span></td>
                                                }
                                                <td><span class="">@ticket.TicketPriority!.Name </span></td>
                                                <td>@ticket.Created.ToString("MM-dd-yyyy")</td>
                                                <td>
                                                    <a class="btn btn-sm btn-outline-info" asp-action="Details" asp-controller="Tickets" asp-route-id="@ticket.Id"><i class="fs-5 bi-justify"></i></a>
                                                    @if (ticket.DeveloperUserId == btUser || ticket.SubmitterUserId == btUser || (projectManager?.Id == btUser) || User.IsInRole(nameof(BTRoles.Admin)))
                                                    {
                                                        <a class="btn btn-sm btn-outline-secondary" asp-action="Edit" asp-controller="Tickets" asp-route-id="@ticket.Id"><i class="fs-5 bi-pencil"></i></a>
                                                    }

                                                    @if (User.IsInRole("Admin") || (projectManager?.Id == btUser))
                                                    {
                                                        <a class="btn btn-sm btn-outline-danger" asp-action="Archive" asp-controller="Tickets" asp-route-id="@ticket.Id"><i class="fs-5 bi-archive"></i></a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>